body{
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
}
h1{
    /* letter-spacing: 24px; */
    text-shadow: 2px 3px 4px gray;
    border-bottom: solid 3px rgb(115,115,114);
    font-family: "Josefin Sans", sans-serif;
    /* font-optical-sizing: double; */
    /* font-weight: weight; */
    /* font-style: normal; */
    font-size: 1.2em;
}
.skyblue{
    color: skyblue;
}
.pink{
    color: rgb(255, 192, 203);
}
#basic{
    font-weight: bold;
}
