html{
    font-size: 20px;
}
body{
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}
h1{
    font-family: "Josefin Sans" sans-serif;
    font-size: 2.0rem;
    letter-spacing: 1.2em;
    text-shadow: 2px 3px 4px gray;
    border-bottom: 3px rgb(115, 115, 114) solid;
}
.skyblue{
    color: skyblue;
}
.pink{
    color: rgb(255, 192, 203);
}
#basic p{
    font-weight: bold;
}